<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <ExcludeByFile>**/tests/**,**/*Tests.cs,**/*.g.cs,**/*.g.i.cs,**/obj/**</ExcludeByFile>
          <DeterministicReport>true</DeterministicReport>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
